* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Caveat", cursive;

    background: linear-gradient(to bottom right, #f1bc00, #ffff);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.book {
    transition: transform 3s;
    position: absolute;
    perspective: 2500px;
    left: 600px;
    top: 300px;
}

input {
    display: none;
}

.page {
    position: absolute;
    width: 224px;
    height: 304px;
    border-radius: 0 15px 15px 0;
    margin-top: 0px;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: transform 3.5s;
}

.front-page,
.back-page {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 0 5px 5px 0;
}
.back-page {
    transform: rotateY(180deg);
    border-radius: 5px 0 0 5px;
}

.next,
.prev {
    position: absolute;
    bottom: 1em;
    cursor: pointer;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: auto;
    top: 0px;
}
.next {
    right: 0;
}
.prev {
    left: 0;
}

#page1 .front-page {
    background-image: url("1.png");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page1 .back-page {
    background-image: url("2.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page2 .front-page {
    background-image: url("3.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page2 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page3 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page3 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page4 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page4 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page5 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page5 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page6 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page6 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page7 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page7 .back-page {
    background-image: url("4.png");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page8 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page8 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page9 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page9 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page10 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page10 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page11 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page11 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page12 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page12 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page13 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page13 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page14 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page14 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page15 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page15 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page16 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page16 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page17 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page17 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page18 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page18 .back-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page19 .front-page {
    background-image: url("4.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#page19 .back-page {
    background-image: url("back.png");
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#page1 {
    z-index: 19;
}
#page2 {
    z-index: 18;
}
#page3 {
    z-index: 17;
}
#page4 {
    z-index: 16;
}
#page5 {
    z-index: 15;
}
#page6 {
    z-index: 14;
}
#page7 {
    z-index: 13;
}
#page8 {
    z-index: 12;
}
#page9 {
    z-index: 11;
}
#page10 {
    z-index: 10;
}
#page11 {
    z-index: 9;
}
#page12 {
    z-index: 8;
}
#page13 {
    z-index: 7;
}
#page14 {
    z-index: 6;
}
#page15 {
    z-index: 5;
}
#page16 {
    z-index: 4;
}
#page17 {
    z-index: 3;
}
#page18 {
    z-index: 2;
}
#page19 {
    z-index: 1;
}

/* Animasi buka/tutup page1 */
#checkbox-page1:checked ~ .book {
    transform: translateX(105px);
}
/* Animasi buka/tutup page12 */
#checkbox-page19:checked ~ .book {
    transform: translateX(210px);
}

@media (max-width: 768px) {
    body,
    html {
        overflow-x: scroll; /* Mencegah geser ke samping */
        max-width: 100vw; /* Pastikan tidak melewati batas layar */
        position: relative; /* Pastikan elemen mengikuti batas layar */
    }

    .book {
        position: absolute;
        transition: transform 3s;
        perspective: 2500px;
        left: 120px;
        top: 300px;
    }

    .front-page .title-red-page1 {
        position: absolute;
        top: 27px;
        left: 20px;
        color: #d22121;
        font-size: 25px;
    }
    .s1 {
        width: 20px;
        position: absolute;
        top: 38px;
        left: 83px;
    }
    .s4 {
        width: 22px;
        position: absolute;
        top: 183px;
        left: 143px;
    }

    .p1-page1 {
        position: absolute;
        top: 90px;
        left: 63px;
        text-decoration: underline;
        text-decoration-color: blue;
        font-size: 13px;
        word-spacing: 8px;
    }

    .fa-solid {
        font-size: 1px;
    }

    .p2-page1 {
        position: absolute;
        top: 105px;
        left: 21px;
        color: black;
        font-size: 13px;
        list-style: none;
        word-spacing: 10px;
        padding-left: 0;
    }
    .p2-page1 li::before {
        content: "●"; /* Bullet manual */
        display: inline-block;
        font-size: 8px; /* Ini mengatur jarak ke teks */
        margin-right: 15px;
        color: blue;
    }

    .p3-page1 {
        position: absolute;
        top: 214px;
        left: 68px;
        font-size: 13px;
    }
    .s2 {
        width: 40px;
        position: absolute;
        top: 225px;
        left: 50px;
    }

    .p1-page2 {
        position: absolute;
        top: 61px;
        left: 39px;
        font-size: 13px;
    }
    .geser1 {
        margin-left: 36px;
    }
    .geser2 {
        margin-left: 68px;
    }
    p {
        margin-bottom: -1px;
        margin-top: -1px;
        word-spacing: 10px;
    }
    .p2-page2 {
        position: absolute;
        top: 23px;
        left: 88px;
        color: #d22121;
    }
    .underline {
        text-decoration: underline;
        text-decoration-color: blue;
    }
    .s3 {
        position: absolute;
        top: 195px;
        left: 130px;
        width: 30px;
    }
    .s6 {
        position: absolute;
        top: 5px;
        left: 70px;
        width: 100px;
    }
    .p1-page3 {
        position: absolute;
        top: 75px;
        left: 37px;
        font-size: 13px;
    }
    .geser3 {
        margin-left: 10px;
    }
    .geser4 {
        margin-left: 44px;
    }
    .s5 {
        position: absolute;
        top: 163px;
        left: 80px;
        width: 63px;
    }
    .p1-page4 {
        position: absolute;
        top: 75px;
        left: 37px;
        font-size: 13px;
    }
    .geser5 {
        margin-left: 3px;
    }
    .geser6 {
        margin-left: 32px;
    }
    .p2-page4 {
        position: absolute;
        top: 168px;
        left: 37px;
        font-size: 13px;
    }
    .geser7 {
        margin-left: 3px;
    }
    .geser8 {
        margin-left: 8px;
    }
    .s7-1 {
        position: absolute;
        top: 16px;
        left: 125px;
        width: 40px;
    }
    .s7-2 {
        position: absolute;
        top: 28px;
        left: 5px;
        width: 40px;
    }
    .s7-3 {
        position: absolute;
        top: 231px;
        left: 5px;
        width: 38px;
    }
    .s7-4 {
        position: absolute;
        top: 231px;
        left: 141px;
        width: 38px;
    }

    .p1-page5 {
        position: absolute;
        top: 76px;
        left: 37px;
        font-size: 13px;
    }
    .geser9 {
        margin-top: 21px;
        margin-left: 35px;
        letter-spacing: 5px;
        font-size: 22px;
    }
    .s8 {
        position: absolute;
        top: 188px;
        left: 100px;
        width: 82px;
    }
    .p1-page6 {
        position: absolute;
        top: 90px;
        left: 37px;
        font-size: 13px;
    }
    .geser10 {
        margin-left: 2px;
    }
    .s9 {
        position: absolute;
        top: 213px;
        left: 72px;
        width: 22px;
    }
    .p1-page7 {
        position: absolute;
        top: 76px;
        left: 37px;
        font-size: 13px;
    }
    .geser11 {
        margin-left: 8px;
        margin-bottom: 14px;
    }
    .geser12 {
        margin-left: 4px;
    }
    .p1-page8 {
        position: absolute;
        top: 106px;
        left: 56px;
        font-size: 13px;
    }
    .p1-page8 p {
        word-spacing: 23px;
    }
    .geser13 {
        margin-left: 20px;
    }
    .p2-page8 {
        position: absolute;
        top: 212px;
        left: 25px;
        font-size: 13px;
        word-spacing: 10px;
    }
    .s10 {
        position: absolute;
        top: 135px;
        left: 66px;
        width: 80px;
    }
    .s1-ily {
        position: absolute;
        top: -13px;
        left: 20px;
        width: 160px;
        height: 298px;
    }
    .p1-page9 {
        position: absolute;
        top: 76px;
        left: 30px;
        font-size: 13px;
        word-spacing: 10px;
    }
    .p1-page9 p {
        word-spacing: 5px;
    }
    .geser14 {
        margin-left: 15px;
    }
    .p2-page9 {
        position: absolute;
        top: 166px;
        left: 30px;
    }
    .geser15 {
        margin-left: 37px;
    }
    .geser16 {
        margin-left: 62px;
    }
    .geser17 {
        margin-left: 70px;
    }
    .p1-page10 {
        position: absolute;
        top: 46px;
        left: 15px;
        font-size: 13px;
    }
    .p1-page10 p {
        word-spacing: 2px;
    }
    .geser18 {
        margin-bottom: 14px;
        margin-left: 20px;
    }
    .geser19 {
        margin-left: 20px;
    }
    .p2-page10 {
        position: absolute;
        top: 166px;
        left: 15px;
        font-size: 13px;
    }
    .p2-page10 p {
        word-spacing: 2px;
    }
    .geser20 {
        margin-left: 5px;
    }
    .p1-page11 {
        position: absolute;
        top: 75px;
        left: 30px;
        font-size: 13px;
    }
    .p1-page11 p {
        margin-bottom: 16px;
    }
    .love1 {
        position: absolute;
        top: 70px;
        left: 90px;
        width: 20px;
    }
    .love2 {
        position: absolute;
        top: 66px;
        left: 110px;
        width: 30px;
    }
    .love3 {
        position: absolute;
        top: 66px;
        left: 135px;
        width: 30px;
    }
    .love21 {
        position: absolute;
        top: 102px;
        left: 87px;
        width: 20px;
    }
    .love22 {
        position: absolute;
        top: 98px;
        left: 110px;
        width: 30px;
    }
    .love23 {
        position: absolute;
        top: 98px;
        left: 132px;
        width: 30px;
    }
    .love31 {
        position: absolute;
        top: 134px;
        left: 82px;
        width: 20px;
    }
    .love32 {
        position: absolute;
        top: 130px;
        left: 100px;
        width: 30px;
    }
    .love33 {
        position: absolute;
        top: 130px;
        left: 123px;
        width: 30px;
    }
    .love41 {
        position: absolute;
        top: 166px;
        left: 80px;
        width: 20px;
    }
    .love42 {
        position: absolute;
        top: 162px;
        left: 95px;
        width: 30px;
    }
    .love43 {
        position: absolute;
        top: 162px;
        left: 115px;
        width: 30px;
    }
    .p1-page12 {
        position: absolute;
        top: 75px;
        left: 55px;
        font-size: 13px;
    }
    .kis {
        position: absolute;
        top: 90px;
        left: 30px;
        width: 125px;
    }
    .p2-page12 {
        position: absolute;
        top: 215px;
        left: 25px;
        font-size: 13px;
    }
    .p1-page13 {
        position: absolute;
        top: 60px;
        left: 69px;
        font-size: 15px;
    }
    .p2-page13 {
        position: absolute;
        top: 87px;
        left: 27px;
        font-size: 13px;
        list-style-type: none;
    }
    .p2-page13 li::before {
        content: "●"; /* Bullet manual */
        display: inline-block;
        font-size: 8px; /* Ini mengatur jarak ke teks */
        margin-right: 18px;
        color: blue;
    }
    .p3-page13 {
        position: absolute;
        top: 183px;
        left: 65px;
        font-size: 13px;
    }
    .loveblue1 {
        position: absolute;
        top: 60px;
        left: 49px;
        width: 15px;
    }
    .loveblue2 {
        position: absolute;
        top: 60px;
        left: 121px;
        width: 15px;
    }
    .p1-page14 {
        position: absolute;
        top: 75px;
        left: 35px;
        font-size: 13px;
    }
    .p2-page14 {
        position: absolute;
        top: 117px;
        left: 35px;
        font-size: 13px;
    }
    .loveblack {
        position: absolute;
        top: 187px;
        left: 65px;
        width: 50px;
    }
    .smile {
        position: absolute;
        top: 162px;
        left: 167px;
        width: 20px;
    }
    .geser21 {
        margin-left: 20px;
    }
    .p1-page15 {
        position: absolute;
        top: 138px;
        left: 75px;
        font-size: 13px;
    }
    .lovebluebig {
        position: absolute;
        top: 28px;
        left: 15px;
        width: 170px;
        height: 290px;
    }
    .geser22 {
        margin-left: 5px;
    }
    .geser23 {
        margin-left: 10px;
    }
    .p1-page16 {
        position: absolute;
        top: 124px;
        left: 50px;
        font-size: 13px;
    }
    .geser24 {
        margin-left: 15px;
    }
    .geser25 {
        margin-left: 8px;
    }
    .page {
        width: 202px;
        height: 303px;
    }
    .next,
    .prev {
        width: 202px;
        height: 303px;
    }
    .balik {
        position: absolute;
        bottom: 1em;
        cursor: pointer;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        pointer-events: auto;
        left: 31px;
        top: 340px;
        width: 140px;
        height: 100px;
    }
    #checkButton {
        background-color: #d22121;
        border: none;
        width: 7px;
        height: 338px;
        border-radius: 0 0 3px 3px;
        position: absolute;
        top: 0;
        left: 2px;
    }
    #checkButton1 {
        background-color: #d22121;
        border: none;
        width: 7px;
        height: 35px;
        border-radius: 0 0 3px 3px;
        position: absolute;
        top: 303px;
        left: 193px;
        }
}
